.button{
    width: 250px;
    height: 100px;
    position: relative;
    background-color: darkgray;
    border: 2px soild black;
    border-radius: 20px/20px;
    color: white;
    display: block;
    flex-direction: row;
}
.button:hover{
    box-shadow: 3px 3px 3px gray;
    background-color: cornsilk;
}
.img{
    width: 200px;
    height: 200px;;
    transition: transform .5s ease-in-out
}
.button:hover +img{
    border: 6px soild black;
    transform: rotate(20deg);
}